.content .ss-quilljs-compat p,
.content .ss-quilljs-compat ol,
.content .ss-quilljs-compat ul,
.content .ss-quilljs-compat pre,
.content .ss-quilljs-compat blockquote,
.content .ss-quilljs-compat h1,
.content .ss-quilljs-compat h2,
.content .ss-quilljs-compat h3,
.content .ss-quilljs-compat h4,
.content .ss-quilljs-compat h5,
.content .ss-quilljs-compat h6 {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.content .ss-quilljs-compat ol,
.content .ss-quilljs-compat ul {
  padding-left: 1.5em;
}
.content .ss-quilljs-compat h1 {
  font-size: 47px;
}
.content .ss-quilljs-compat h1 {
  font-size: 47px;
  line-height: 47px;
}
.content .ss-quilljs-compat h2 {
  font-size: 36px;
  line-height: 36px;
}
.content .ss-quilljs-compat h3 {
  font-size: 32px;
  line-height: 32px;
}
.content .ss-quilljs-compat ol > li,
.content .ss-quilljs-compat ul > li {
  list-style-type: none;
}
.content .ss-quilljs-compat ul > li::before {
  content: '\2022';
}
.content .ss-quilljs-compat ul[data-checked=true],
.content .ss-quilljs-compat ul[data-checked=false] {
  pointer-events: none;
}
.content .ss-quilljs-compat ul[data-checked=true] > li *,
.content .ss-quilljs-compat ul[data-checked=false] > li * {
  pointer-events: all;
}
.content .ss-quilljs-compat ul[data-checked=true] > li::before,
.content .ss-quilljs-compat ul[data-checked=false] > li::before {
  color: #777777;
  cursor: pointer;
  pointer-events: all;
}
.content .ss-quilljs-compat ul[data-checked=true] > li::before {
  content: '\2611';
}
.content .ss-quilljs-compat ul[data-checked=false] > li::before {
  content: '\2610';
}
.content .ss-quilljs-compat li::before {
  display: inline-block;
  white-space: nowrap;
  width: 1.2em;
}
.content .ss-quilljs-compat li:not(.ql-direction-rtl)::before {
  margin-left: -1.5em;
  margin-right: 0.3em;
  text-align: right;
}
.content .ss-quilljs-compat li.ql-direction-rtl::before {
  margin-left: 0.3em;
  margin-right: -1.5em;
}
.content .ss-quilljs-compat ol li:not(.ql-direction-rtl),
.content .ss-quilljs-compat ul li:not(.ql-direction-rtl) {
  padding-left: 1.5em;
}
.content .ss-quilljs-compat ol li.ql-direction-rtl,
.content .ss-quilljs-compat ul li.ql-direction-rtl {
  padding-right: 1.5em;
}
.content .ss-quilljs-compat ol li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-0;
}
.content .ss-quilljs-compat ol li:before {
  content: counter(list-0, decimal) ". ";
}
.content .ss-quilljs-compat ol li.ql-indent-1 {
  counter-increment: list-1;
}
.content .ss-quilljs-compat ol li.ql-indent-1:before {
  content: counter(list-1, lower-alpha) '. ';;
}
.content .ss-quilljs-compat ol li.ql-indent-1 {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.content .ss-quilljs-compat ol li.ql-indent-2 {
  counter-increment: list-2;
}
.content .ss-quilljs-compat ol li.ql-indent-2:before {
  content: counter(list-2, lower-roman) '. ';
}
.content .ss-quilljs-compat ol li.ql-indent-2 {
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.content .ss-quilljs-compat ol li.ql-indent-3 {
  counter-increment: list-3;
}
.content .ss-quilljs-compat ol li.ql-indent-3:before {
  content: counter(list-3, decimal) '. ';
}
.content .ss-quilljs-compat ol li.ql-indent-3 {
  counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
}
.content .ss-quilljs-compat ol li.ql-indent-4 {
  counter-increment: list-4;
}
.content .ss-quilljs-compat ol li.ql-indent-4:before {
  content: counter(list-4, lower-alpha) '. ';
}
.content .ss-quilljs-compat ol li.ql-indent-4 {
  counter-reset: list-5 list-6 list-7 list-8 list-9;
}
.content .ss-quilljs-compat ol li.ql-indent-5 {
  counter-increment: list-5;
}
.content .ss-quilljs-compat ol li.ql-indent-5:before {
  content: counter(list-5, lower-roman) '. ';
}
.content .ss-quilljs-compat ol li.ql-indent-5 {
  counter-reset: list-6 list-7 list-8 list-9;
}
.content .ss-quilljs-compat ol li.ql-indent-6 {
  counter-increment: list-6;
}
.content .ss-quilljs-compat ol li.ql-indent-6:before {
  content: counter(list-6, decimal) '. ';
}
.content .ss-quilljs-compat ol li.ql-indent-6 {
  counter-reset: list-7 list-8 list-9;
}
.content .ss-quilljs-compat ol li.ql-indent-7 {
  counter-increment: list-7;
}
.content .ss-quilljs-compat ol li.ql-indent-7:before {
  content: counter(list-7, lower-alpha) '. ';
}
.content .ss-quilljs-compat ol li.ql-indent-7 {
  counter-reset: list-8 list-9;
}
.content .ss-quilljs-compat ol li.ql-indent-8 {
  counter-increment: list-8;
}
.content .ss-quilljs-compat ol li.ql-indent-8:before {
  content: counter(list-8, lower-roman) '. ';
}
.content .ss-quilljs-compat ol li.ql-indent-8 {
  counter-reset: list-9;
}
.content .ss-quilljs-compat ol li.ql-indent-9 {
  counter-increment: list-9;
}
.content .ss-quilljs-compat ol li.ql-indent-9:before {
  content: counter(list-9, decimal) '. ';
}
.content .ss-quilljs-compat .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em;
}
.content .ss-quilljs-compat li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 4.5em;
}
.content .ss-quilljs-compat .ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}
.content .ss-quilljs-compat li.ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 4.5em;
}
.content .ss-quilljs-compat .ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 6em;
}
.content .ss-quilljs-compat li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 7.5em;
}
.content .ss-quilljs-compat .ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 6em;
}
.content .ss-quilljs-compat li.ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 7.5em;
}
.content .ss-quilljs-compat .ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 9em;
}
.content .ss-quilljs-compat li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 10.5em;
}
.content .ss-quilljs-compat .ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 9em;
}
.content .ss-quilljs-compat li.ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 10.5em;
}
.content .ss-quilljs-compat .ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 12em;
}
.content .ss-quilljs-compat li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 13.5em;
}
.content .ss-quilljs-compat .ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 12em;
}
.content .ss-quilljs-compat li.ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 13.5em;
}
.content .ss-quilljs-compat .ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 15em;
}
.content .ss-quilljs-compat li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 16.5em;
}
.content .ss-quilljs-compat .ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 15em;
}
.content .ss-quilljs-compat li.ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 16.5em;
}
.content .ss-quilljs-compat .ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 18em;
}
.content .ss-quilljs-compat li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 19.5em;
}
.content .ss-quilljs-compat .ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 18em;
}
.content .ss-quilljs-compat li.ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 19.5em;
}
.content .ss-quilljs-compat .ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 21em;
}
.content .ss-quilljs-compat li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 22.5em;
}
.content .ss-quilljs-compat .ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 21em;
}
.content .ss-quilljs-compat li.ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 22.5em;
}
.content .ss-quilljs-compat .ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 24em;
}
.content .ss-quilljs-compat li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 25.5em;
}
.content .ss-quilljs-compat .ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 24em;
}
.content .ss-quilljs-compat li.ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 25.5em;
}
.content .ss-quilljs-compat .ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 27em;
}
.content .ss-quilljs-compat li.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 28.5em;
}
.content .ss-quilljs-compat .ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 27em;
}
.content .ss-quilljs-compat li.ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 28.5em;
}
.content .ss-quilljs-compat .ql-video {
  display: block;
  max-width: 100%;
}
.content .ss-quilljs-compat .ql-video.ql-align-center {
  margin: 0 auto;
}
.content .ss-quilljs-compat .ql-video.ql-align-right {
  margin: 0 0 0 auto;
}
.content .ss-quilljs-compat .ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}
.content .ss-quilljs-compat .ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}
.content .ss-quilljs-compat .ql-size-small {
  font-size: 0.75em;
}
.content .ss-quilljs-compat .ql-size-large {
  font-size: 1.5em;
}
.content .ss-quilljs-compat .ql-size-huge {
  font-size: 2.5em;
}
.content .ss-quilljs-compat .ql-direction-rtl {
  direction: rtl;
  text-align: inherit;
}
.content .ss-quilljs-compat .ql-align-center {
  text-align: center;
}
.content .ss-quilljs-compat .ql-align-justify {
  text-align: justify;
}
.content .ss-quilljs-compat .ql-align-right {
  text-align: right;
}
